*obj*
*bin*
*include*
*lib*
*html*
core/swsharp
swsharpdb/swsharpdb
swsharpdbmpi/swsharpdbmpi
swsharpn/swsharpn
swsharpnc/swsharpnc
swsharpp/swsharpp
swsharpout/swsharpout
swsharpwin/*/*.cu
swsharpwin/*/*.c
swsharpwin/*/*.cpp
swsharpwin/*/*.h
swsharpwin/*/*/*.h
swsharpwin/*/*/*.c
swsharpwin/*/*/*.cpp

